.main-header{
    display: flex;
    border: solid 1px;
    height: 50px;
    padding: 12px;
    font-size: 14px;
    
    // & === .main-header
    // main-header__icon 과 같은 뜻, & : 부모 선택자
    &__icon{
        height: 100%;
    }
    &__nav{
        display: flex;
    }
    .empty{
        flex: 1;
        // flex 속성에 값을 준 empty 라는 친구만 유동적으로 값이 조절됨!
    }
}